@import url('https://fonts.googleapis.com/css?family=Roboto');


.recipe-card {
    width: 30%; /* Update the width to 23% */
    height: 40%;
    min-width: 240px;
    border-radius: 10% !important;
}


.recipe-card-image {
    margin-top: 5%;
    width: 60%;
    height: auto;
    border-radius: 10%;
}

.recipe-card-image img {
    width: 85%;
    height: auto;
    border: 2px solid black; /* Add this line */
}


.recipe-title {
    color: #3a3a3a !important;
    font-weight: 400;
    font-size: large;
    font-weight: 500;
}
