.container {
  display: flex !important;
  flex-direction: column !important;
  align-items: left !important;
  justify-content: flex-start !important;
  /* padding: 50px 50px 50px 0px !important; */
  text-align: left !important;
  color: white !important;
  font-family: "Abril Fatface" !important; /* Replace with the actual font */
  background: url('https://cdn.discordapp.com/attachments/1061039263296262285/1111630917463707699/31428213-9ece-4b89-aced-fe2f51042e79.jpg') no-repeat center center; /* Replace with the actual background image */
  background-size: cover !important;
  height: 500px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}


.heading {
  font-size: 70px !important;
  margin-bottom: 20px !important;
  margin-top: 32% !important;
  /* max-width: 1000px !important; */
  /* margin-left: 30% !important; */
  text-align: left;
}

.text {
  font-size: 24px !important;
  max-width: 600px !important;
  text-align: left !important;
  margin-left: 1% !important;
  margin-bottom: 2% !important
}

.outlined {
  max-width: 400px !important;
  color: aliceblue !important;
  border-color: aliceblue !important;
  margin-bottom: 1% !important
}