.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  padding: 50px 50px 50px 0px;
  text-align: left;
  color: white;
  font-family: "Abril Fatface"; /* Replace with the actual font */
  background: url('https://www.betterup.com/hubfs/Blog%20Images/fake%20it%20till%20you%20make%20it/fake-it-til-make-it-person-on-blue-background.jpg') no-repeat center center; /* Replace with the actual background image */
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
}


.heading {
  font-size: 70px;
  margin-bottom: 20px;
  margin-top: -10px;
  max-width: 1000px;
  margin-left: 1%
}

.text {
  font-size: 24px;
  max-width: 600px;
  text-align: left;
  margin-left: 1%;
  margin-bottom: 2%
}

.outlined {
  max-width: 400px;
  color: aliceblue !important;
  border-color: aliceblue !important;
  margin-bottom: 1% !important
}