.infoSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(83, 83, 233);
  height: 80vh;
}

.imagePart {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.textPart {
  flex: 1;
  padding: 10px;
  font-weight: 400;
  font-style: normal;
}

.imageStyle {
  width: auto;
  height: 79.5vh;
  object-fit: cover;
  margin-top: 0.5vh;
  margin-right: 16.5vh;
}

.heading {
  font-family: "gt-eesti-display-bold", sans-serif !important;
  color: white;
  font-size: 3rem;
  text-align: left;
  margin-top: 1rem;
  min-width: 120% !important;
}

.paragraph {
  color: white;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  margin-left: 1rem;
  margin-top: 1rem;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  border-right: 2px solid white;
}

.buttonSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.buttonStyle {
  justify-content: flex-start;
  margin-bottom: 1rem;
  width: 100%;
  color: white !important;
  border: 1px solid white !important;
  margin-top: 1rem !important;
}

@media screen and (max-width: 768px) {
  .infoSection {
    flex-direction: column;
  }

  .heading {
    font-size: 1.5rem;
  }

  .paragraph {
    font-size: 1rem;
  }

  .buttonSection {
    margin-left: 0;
  }
}

.contentPart {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 30vh;
}

.mennnn {
  font-family: "gt-eesti-display-bold", sans-serif !important;
  color: white;
  font-size: 3rem;
  text-align: left;
  margin-top: 1rem;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typing2 {
  0%, 50% {
    opacity: 0;
  }
  75%, 100% {
    opacity: 1;
  }
}



