.infoSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  height: 130vh;
  margin-top: -10%;
}

.imagePart {
  flex: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textPart {
  flex: 1;
  font-weight: 400;
  font-style: normal;
  width: 120vh;
}

.imageStyle {
  width: auto;
  height: 70vh;
  object-fit: cover;
  margin-top: 0.5vh;
  margin-right: 5%;
  animation: scaleAnimation 4s ease-in-out infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.heading {
  font-family: "gt-eesti-display-bold", sans-serif !important;
  color: rgb(29, 29, 223);
  font-size: 3.5rem;
  text-align: left;
  margin-top: 2rem;
  min-width: 120% !important;
  font-weight: 800;
}

.heading2 {
  font-family: "gt-eesti-display-bold", sans-serif !important;
  color: rgb(7, 7, 99);
  font-size: 3.5rem;
  text-align: left;
  margin-top: 2rem;
  min-width: 120% !important;
  font-weight: 800;
}

.paragraph {
  color: rgb(61, 61, 61);
  font-weight: 500;
  font-size: 1.2rem;
  text-align: left;
  margin-top: 1rem;
}

.outerContainer {
  display: flex;
  flex-direction: column;
}

.buttonSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left !important;
  margin-bottom: 1rem;
  margin-top: -2%;
}

.buttonStyle {
  justify-content: flex-start;
  margin-bottom: 1rem;
  width: 300px;
  color: white !important;
  font-weight: 600;
  margin-top: 1.5rem !important;
  justify-content: left ;
  background-color: rgb(29, 29, 223) !important;
}

.contentPart {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20vh;
}

.mennnn {
  font-family: "gt-eesti-display-bold", sans-serif !important;
  color: white;
  font-size: 3rem;
  text-align: left;
  margin-top: 1rem;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes typing2 {
  0%, 50% {
    opacity: 0;
  }
  75%, 100% {
    opacity: 1;
  }
}



