.container {
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    background-color: rgb(83, 83, 233);
    width: 100%;
    margin-left: -5%;
    margin-top: 3%;
  }
  
  .division {
    width: 40%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: -2%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: white;
    padding: 5%;
  }
  
  .division img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .division h2 {
    color: #333;
    margin-top: 1rem;
  }
  
  .division p {
    color: #666;
    margin-top: 0.5rem;
  }
  
  .division button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .l2r {
    animation: 2s ease-out 0s 1 slideInFromLeft;

  }

  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .r2l {
    animation: 2s ease-out 0s 1 slideInFromRight;
  }