.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f8fafd !important;
}

.App-link {
  color: #f8fafd;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.recipe-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  width: 100%;
  box-sizing: border-box;
}

.heading {
  font-family: "gt-eesti-display-bold", sans-serif !important;
  color: #333b40;
  font-size: 2.25rem;
  font-weight: 800;
}

.paragraph {
  color: #546072;
  font-weight: 400;
  font-size: 1rem;
}
